<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SoonGreen</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Views/Shared/main.css" rel="stylesheet"/>
</head>
<body class="bg-transparent text-bg-primary">
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="align-content-center text-center">
            <p>&copy; @DateTime.Now.Year - Powered By eALIF Team</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
